.layoutType {
	width: 50vw;
	font-size: 1rem;
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.title {
	color: royalblue;
	font-size: 3.124rem;
}

.secondaryTitle {
	font-size: 0.8rem;
}

.nav {
	display: grid;
	width: 500px;
	grid-template-columns: 200px 200px;
	font-size: 1.3rem;
	gap: 10px;
}

.navLinks {
	text-decoration: none;
	font-family: monospace;
	padding: 10px 20px;
	font-weight: bold;
	color: rebeccapurple;
	background-color:yellow;
	border: 1px solid orange;
}